In [19]:
import requests
import pandas as pd
import json
data = requests.get("https://win.justdial.com/api/india_api_write/20march2020/hotkeynew.php?ln=en&version=4.1&wap=2&source=2&searchReferrer=gen&utmCampaign=&utm_campaign=&utm_source=&utm_medium=&lat=13.030&long=77.623&enc=1&env=p")
rows = data.json()["data"]
print(type(rows))
query1=""
query="""
    INSERT INTO db_mobile_api.tbl_hotkeys (name,data) VALUES
    """
file1 = open("queries2.txt", "w")
file1.writelines(query)
i=0
for row in rows:
    query1=f"""("{row["name"]}","{row}"),
    """
    i += 1
    print(i)
    file1.writelines(query1)
#query = query + query1
#file1.writelines(query)

<class 'list'>
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
import requests
import pandas as pd
import json
data = requests.get("https://win.justdial.com/api/india_api_write/20march2020/hotkeynew.php?ln=en&version=4.1&wap=2&source=2&searchReferrer=gen&utmCampaign=&utm_campaign=&utm_source=&utm_medium=&lat=13.030&long=77.623&enc=1&env=p")
rows = data.json()["data"]
print(type(rows))
query1=""
query="""
    INSERT INTO db_mobile_api.tbl_hotkey_mapper (hotkeyid,wap,pos) VALUES
    """
j=1
for i in range(22,42):
    query1+=f"""({i},2,{j}),
    """
    j += 1
    print(j)
query = query + query1
print(query)
#file1.writelines(query)

<class 'list'>
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

    INSERT INTO db_mobile_api.tbl_hotkey_mapper (hotkeyid,wap,pos) VALUES
    (22,2,1),
    (23,2,2),
    (24,2,3),
    (25,2,4),
    (26,2,5),
    (27,2,6),
    (28,2,7),
    (29,2,8),
    (30,2,9),
    (31,2,10),
    (32,2,11),
    (33,2,12),
    (34,2,13),
    (35,2,14),
    (36,2,15),
    (37,2,16),
    (38,2,17),
    (39,2,18),
    (40,2,19),
    (41,2,20),

In [25]:
import requests
import pandas as pd
import json
data = requests.get("https://win.justdial.com/api/india_api_write/20march2020/footerelement.php?ln=en&city=Bangalore&area=Shampura&lat=13.026&long=77.617&dcity=Bangalore&wap=2&source=2&version=4.1&searchReferrer=gen&utmCampaign=&utm_campaign=&utm_source=&utm_medium=&enc=1&env=p")
rows = data.json()["results"]
print(type(rows))
query1=""
query="""
    INSERT INTO db_mobile_api.tbl_footerelement (name,maindata) VALUES
    """
query2="""
    INSERT INTO db_mobile_api.tbl_footerelement_data (name,maindata) VALUES
    """
file1 = open("queries2.txt", "w")
file1.writelines(query)
i=0
for row in rows:
    subdata = row.pop('data')
    query1=f"""("{row["name"]}","{row}"),
    """
    if len(subdata) > 0:
        
        
    i += 1
    print(i)
    file1.writelines(query1)
#query = query + query1
#file1.writelines(query)

<class 'list'>
<class 'dict'>
1
<class 'dict'>
2
<class 'dict'>
3
<class 'dict'>
4
<class 'dict'>
5

In [23]:
lst=[1,2,3,4]
lst.remove(2)

In [24]:
lst

[1, 3, 4]