In [6]:
import numpy as np
import pandas as pd
import scipy.stats as st
import os
os.getcwd()

'/home/justdial/learnbae_ml/Statistics/Untitled Folder'

In [8]:
cardio =pd.read_csv("Cardio_vascular.csv")
cardio.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
from scipy.stats import shapiro

In [9]:
#shud be used only when no of samples > 30
#alpha val wud be given by stakeholder, if not given default is 0.05
shapiro(cardio['chol'])

ShapiroResult(statistic=0.9502236843109131, pvalue=4.0010225784919354e-18)

In [ ]:
#calculate ci with different cl

In [10]:
#calculate ci for confidence level=0.90, 90% confidence level
import scipy.stats as st
st.norm.interval(alpha=0.90, loc=np.mean(cardio['chol']), scale=st.sem(cardio['chol']))
#alpha is cl for which we are calculating - sem-standard error mean

/tmp/ipykernel_35706/2127368623.py:3: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  st.norm.interval(alpha=0.90, loc=np.mean(cardio['chol']), scale=st.sem(cardio['chol']))

(243.34935246016116, 248.65064753983884)

In [11]:
#calculate ci for confidence level=0.95
import scipy.stats as st
st.norm.interval(alpha=0.95, loc=np.mean(cardio['chol']), scale=st.sem(cardio['chol']))
#alpha is cl for which we are calculating - sem-standard error mean

/tmp/ipykernel_35706/2644647484.py:3: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  st.norm.interval(alpha=0.95, loc=np.mean(cardio['chol']), scale=st.sem(cardio['chol']))

(242.8415586477306, 249.1584413522694)

In [ ]:
#as confidence level increases, confidence interval increases

In [12]:
#calculate ci for confidence level=0.90, 90% confidence level
import scipy.stats as st
st.norm.interval(alpha=0.90, loc=np.mean(cardio['trestbps']), scale=st.sem(cardio['trestbps']))
#alpha is cl for which we are calculating - sem-standard error mean

/tmp/ipykernel_35706/378029497.py:3: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  st.norm.interval(alpha=0.90, loc=np.mean(cardio['trestbps']), scale=st.sem(cardio['trestbps']))

(130.7117579774995, 132.51165665664686)

In [ ]:
#calculate confidence interval of sample 50 plants

In [13]:
data=np.random.randint(10,30,50) #min 10, max - 30, cnt-50

In [14]:
data

array([16, 28, 23, 17, 29, 14, 10, 27, 22, 13, 25, 21, 29, 20, 11, 19, 13,
       24, 26, 12, 10, 23, 28, 11, 18, 28, 28, 25, 20, 18, 27, 23, 11, 13,
       29, 22, 28, 11, 18, 18, 25, 26, 11, 19, 14, 11, 24, 23, 16, 21])

In [15]:
import scipy.stats as st
st.norm.interval(alpha=0.90, loc=np.mean(data), scale=st.sem(data))

/tmp/ipykernel_35706/3828146806.py:2: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  st.norm.interval(alpha=0.90, loc=np.mean(data), scale=st.sem(data))

(18.50619517806883, 21.413804821931173)

In [16]:
np.mean(data)

19.96

In [ ]:
#means - 90% chance that mean height of population will fall in this range (18.50619517806883, 21.413804821931173)
#like if we have 1 lakh population, and if randomly selected any samples there is 90 percent chance that its height falls 
#in btn 18 to 21
#there is still 10% chances that it can fall out of this range

In [18]:
shapiro(data)

ShapiroResult(statistic=0.9234757423400879, pvalue=0.003156144404783845)

In [ ]:
#if pvalue s less than alpha value, it is normally distributed, there is no null hypothesis

In [19]:
import scipy.stats as st
st.norm.interval(alpha=0.95, loc=np.mean(data), scale=st.sem(data))

/tmp/ipykernel_35706/424225708.py:2: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  st.norm.interval(alpha=0.95, loc=np.mean(data), scale=st.sem(data))

(18.227684707716655, 21.692315292283347)

# Confidence interval using t-distrution

In [ ]:
#if we are working with small sample < 30, this is used

In [21]:
data2=np.random.randint(10,30,15) #min 10, max - 30, cnt-50

In [22]:
shapiro(data2)

ShapiroResult(statistic=0.9553446173667908, pvalue=0.6121435761451721)

In [ ]:
#here p value > 0.5, more than alpha value(0.05)/significance level, hence it is NOT normally distributed
#we can reject null hypothesis

In [23]:
import scipy.stats as st
st.t.interval(alpha=0.95, df=len(data2-1),loc=np.mean(data2), scale=st.sem(data2))

/tmp/ipykernel_35706/2673484837.py:2: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  st.t.interval(alpha=0.95, df=len(data2-1),loc=np.mean(data2), scale=st.sem(data2))

(15.565646188240873, 21.63435381175913)

# one sample t-test in python

In [ ]:
#we have collected samples, we are checking whether mean of sample & mean of population is same

In [ ]:

"""For example, suppose we want to know whether or not the mean weight of a certain species of 
some turtle is equal to 310 pounds.

To test this, we go out and collect a simple random sample of turtles with the following weights:

Weights: 300, 315, 320, 311, 314, 309, 300, 308, 305, 303, 305, 301, 303

:"""

In [ ]:
"""The two hypotheses for this particular one sample t-test are as follows:

H0: µ = 310 (the mean weight for this species of turtle is 310 pounds)
HA: µ ≠310 (the mean weight is not 310 pounds)"""

In [ ]:
"""A two sample t-test is used to test whether or not the means of two populations are equal.

For example, suppose we want to know whether or not the mean weight between two 
different species of turtles is equal."""

In [24]:
data = [300, 315, 320, 311, 314, 309, 300, 308, 305, 303, 305, 301, 303]

In [ ]:
#perform one sample t test

In [26]:
import scipy.stats as st
st.ttest_1samp(data,popmean=310)

Ttest_1sampResult(statistic=-1.5848116313861254, pvalue=0.1389944275158753)

In [ ]:
#as p-value >alpha(0.05) we are not able to reject null hypothesis

In [27]:
import scipy.stats as st
st.norm.interval(alpha=0.95, loc=np.mean(data), scale=st.sem(data))

/tmp/ipykernel_35706/424225708.py:2: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  st.norm.interval(alpha=0.95, loc=np.mean(data), scale=st.sem(data))

(303.8060135909931, 310.6555248705454)

In [ ]:
#even trough ci, we are getting 310 value

In [ ]:
"""To test this, we collect a simple random sample of turtles from each 
species with the following weights:

Sample 1: 300, 315, 320, 311, 314, 309, 300, 308, 305, 303, 305, 301, 303

Sample 2: 335, 329, 322, 321, 324, 319, 304, 308, 305, 311, 307, 300, 305

The following code shows how to use the ttest_ind() function from the scipy.stats library to 
perform this two sample t-test:"""

In [ ]:
"""The two hypotheses for this particular two sample t-test are as follows:

H0: µ1 = µ2 (the mean weight between the two species is equal)
HA: µ1 ≠ µ2 (the mean weight between the two species is not equal)"""

In [ ]:
#here we are provided with null hypothesis and alternate

In [28]:
sample1=[300, 315, 320, 311, 314, 309, 300, 308, 305, 303, 305, 301, 303]
sample2=[335, 329, 322, 321, 324, 319, 304, 308, 305, 311, 307, 300, 305]

In [29]:
st.ttest_ind(sample1, sample2)

Ttest_indResult(statistic=-2.10090292575557, pvalue=0.04633501389516513)

In [ ]:
#as p-value< aplha, we reject null hypothesis, means mean weight btn 2 samples is not equal
#means two samples are collected from different sources

In [ ]:
"""A university professor gave online lectures instead of face-to-face classes due to Covid-19. Later, 
he uploaded recorded lectures to the cloud for students who followed the course asynchronously 
(those who did not attend the lesson but later watched the records). However, 
he believes that the students who attend class at the class time and participate in the process are more successful. 
Therefore, he recorded the average grades of the students at the end of the semester. The data is below.

synchronous = [94. , 84.9, 82.6, 69.5, 80.1, 79.6, 81.4, 77.8, 81.7, 78.8, 73.2, 87.9, 87.9, 93.5, 82.3, 79.3, 78.3, 71.6, 88.6, 74.6, 74.1, 80.6]
asynchronous = [77.1, 71.7, 91. , 72.2, 74.8, 85.1, 67.6, 69.9, 75.3, 71.7, 65.7, 72.6, 71.5, 78.2]

Conduct the hypothesis testing to check whether the professor’s belief is statistically significant by using a 0.05 
significance level to evaluate the null and alternative hypotheses. 
Before doing hypothesis testing, check the related assumptions. Comment on the results."""

In [ ]:
"""1. Defining Hypothesis
Since the grades are obtained from the different individuals, the data is unpaired.

H₀: μₛ≤μₐ
H₁: μₛ>μₐ

2. Assumption Check
H₀: The data is normally distributed.
H₁: The data is not normally distributed.
Assume that α=0.05. If the p-value is >0.05, it can be said that data is normally distributed."""

In [33]:
synchronous = [94. , 84.9, 82.6, 69.5, 80.1, 79.6, 81.4, 77.8, 81.7, 78.8, 73.2, 87.9, 87.9, 93.5, 82.3, 79.3, 78.3, 71.6, 88.6, 74.6, 74.1, 80.6]
asynchronous = [77.1, 71.7, 91. , 72.2, 74.8, 85.1, 67.6, 69.9, 75.3, 71.7, 65.7, 72.6, 71.5, 78.2]

In [43]:
print(np.var(synchronous), np.var(asynchronous))

40.75208677685952 41.81714285714285

In [ ]:
#here variance is not equal, for ttest we can pass equal_var as false

In [44]:
st.ttest_ind(synchronous, asynchronous, equal_var=False)

Ttest_indResult(statistic=2.8241907458142563, pvalue=0.008754235249671019)

In [ ]:
#p value is less than 0.05, hence we can reject null hypothesis
#The data is not normally distributed, means professor assumption is correct

In [ ]:
"""
For example, suppose a professor wants to know if two different 
studying methods lead to different mean exam scores.

To test this, he recruits 10 students to use method A and 10 students to use method B.

 :"""

In [37]:
#create pandas DataFrame
df = pd.DataFrame({'method': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
                              'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B'],
                   'score': [71, 72, 72, 75, 78, 81, 82, 83, 89, 91, 80, 81, 81,
                             84, 88, 88, 89, 90, 90, 91]})

#view first five rows of DataFrame
df.head(20)

   method  score
0       A     71
1       A     72
2       A     72
3       A     75
4       A     78
5       A     81
6       A     82
7       A     83
8       A     89
9       A     91
10      B     80
11      B     81
12      B     81
13      B     84
14      B     88
15      B     88
16      B     89
17      B     90
18      B     90
19      B     91

In [38]:
#create two samples/groups
#alternative hypothesis - result of two different method students are not same
#null hypothesis - result is same
grp1= df[df['method'] =="A"]
grp2= df[df['method'] =="B"]

In [39]:
grp1

  method  score
0      A     71
1      A     72
2      A     72
3      A     75
4      A     78
5      A     81
6      A     82
7      A     83
8      A     89
9      A     91

In [40]:
sample1 = grp1['score']
sample2 = grp2['score']

In [41]:
sample1

0    71
1    72
2    72
3    75
4    78
5    81
6    82
7    83
8    89
9    91
Name: score, dtype: int64

In [42]:
st.ttest_ind(sample1, sample2)

Ttest_indResult(statistic=-2.6034304605397938, pvalue=0.017969284594810425)

In [ ]:
#p value is less than 0.05, hence we can reject null hypothesis
#the result of 2 groups is not same

In [ ]:
#welch's t-test in pandas

In [ ]:
#its same as t-test , except that it dosnt assume samples come frm equal variance, we need to pass
#equal_var=False within ttest_ind()